[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog
[submodule "external/ModUtils"]
	path = external/ModUtils
	url = https://github.com/CookiePLMonster/ModUtils
[submodule "external/xxHash"]
	path = external/xxHash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/IXWebSocket"]
	path = external/IXWebSocket
	url = https://github.com/machinezone/IXWebSocket.git
